<div class="copy" style="line-height:20px;">
<a href="https://play.google.com/store/apps/details?id=com.cardcoffer">Mobile</a> / <a href="#">About</a> / <a href="#">Help</a> / <a href="#">Privacy & Policy</a> / <a href="#"> R &amp D </a><br /> &copy;  <a href="http://cardcoffer.com">Card Coffer</a> 2015
</div>
